
/* Dark Theme Color Variables */
:root {
    --bg-primary: #0f172a;    
    --bg-secondary: #1e293b;  /* cards, sections */
    --bg-trans: rgba(255, 255, 255, 0.5);
    --text-primary: #f1f5f9;  
    --text-muted: #cccccc;    /* secondary text */
    --accent: #1b50c0;        /* buttons, links */
    --accent-hover: #3b82f6;  /* hover for accent elements */
    --max-width: 1200px;       /* content width limit */
}
  
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    line-height: 1.6;
    scroll-behavior: smooth;
}

:root {
    --base-size: 1rem;
    --type-scale: 1.25;
    --h5: clamp(0.8rem, 0.8rem + 0.5vw, calc(var(--base-size) * var(--type-scale)));
    --h4: clamp(1rem, 1rem + 0.7vw, calc(var(--h5) * var(--type-scale)));
    --h3: clamp(1.25rem, 1.25rem + 1vw, calc(var(--h4) * var(--type-scale)));
    --h2: clamp(1.5rem, 1.5rem + 1.2vw, calc(var(--h3) * var(--type-scale)));
    --h1: clamp(2rem, 2rem + 1.5vw, calc(var(--h2) * var(--type-scale)));
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

p {
    font-size: var(--base-size);
    color: var(--text-muted);
}

/* Navigation Bar Section */
.navbar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem ;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    z-index: 1000;
}

.logo {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    color: var(--text-primary);
    letter-spacing: 0.2rem;
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar .menu a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 500;
    transition: color 0.3s;
}

.navbar .menu a:hover {
    color: var(--text-muted);
}

.navbar .cta-btn {
    display: none;
}

.cta-btn a {
    text-decoration: none;
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    background-color: var(--accent);
    border-radius: 32px;
    transition: background-color 0.5s ease;
}

.cta-btn a:hover {
    background-color: var(--accent-hover);
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    padding: 1rem;
}

.hero-content {
    text-align: center;
}

.hero .hero-content .cta-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/* About Us Section */
#about {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3rem 1rem;
    background: var(--bg-secondary);
}

#about .about-content {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    border: 1px solid var(--bg-primary);
    margin-top: calc(50% / 2);
}

#about .about-content .pro-pic {
    position: absolute;
    width: 50%;
    transform: translate(50%, -50%);
    padding-top: 50%;
    border-radius: 50%;
    object-position: top;
    overflow: hidden;
    border: 1px solid var(--bg-primary);
}

#about .about-content .pro-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0%;
}

#about .about-content .write-up {
    display: flex;
    flex-direction: column;
    padding: calc((50% / 2) + 1rem) 1rem 2rem;
}

#about .about-content .cta-btn {
    margin-top: 1rem;
}

/* Skills Section */
#skills {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.skills-group {
    margin: 1rem 0;
}

.skills-carousel {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-behavior: smooth;
}
  
.skills-carousel::-webkit-scrollbar {
    display: none;
}
  
.skill, .inactive-skill {
    position: relative;
    min-width: 35%;
    padding-top: 35%;
    justify-content: center;
    overflow: hidden;
}
  
.skill img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.inactive-skill img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    filter: blur(5px)
}

.skill, .inactive-skill {
    text-align: center;
}

.skill-title {
    position: relative;
    width: 100%;
    background-color: var(--bg-primary);
}

/* Projects Section */
#projects {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.projects-grid {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
    scroll-behavior: smooth;
}

.projects-grid::-webkit-scrollbar {
    display: none;
}
  
.project-card {
    position: relative;
    min-width: 90%;
    padding-top: calc(80% / 2);
    background-color: var(--bg-secondary);
    border-radius: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}
  
.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 8px var(--text-muted);
}
  
.project-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
    object-position: center 0%;
    transition: transform 0.3s ease;
}

.project-card:hover img {
    transform: scale(1.05);
}

.project-card .proj-details {
    position: relative;
    background-color: var(--bg-secondary);
    padding: 1rem;
}

/* Contact Section */
#contact {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.contact-links a {
    position: relative;
    flex-basis: calc(25% - 5%);
}

.contact-links a img {
    width: 100%;
    height: 100%;
    object-fit: contain;    
    overflow: hidden;
}

footer {
    background-color: var(--bg-secondary);
    padding: 30px 20px;
    text-align: center;
    color: var(--text-muted);
    font-size: 0.9rem;
    padding: 1rem;
}

@media (min-width: 480px) {
    
    .cont-1 {
        position: relative;
        width: 90%;
        left: 5%;
    }

    /* Skills Section */
    .skill, .inactive-skill {
        min-width: 25%;
        padding-top: 25%;
    }

    /* Projects Section */
    .project-card {
        min-width: 80%;
        padding-top: calc(60% / 2);
    }

    /* Contact Section */
    #contact {
        width: 90%;
        left: 5%;
    }

    .contact-links a {
        flex-basis: calc(25% - 10%);
    }

}


@media (min-width: 850px) {

    .cont-1 {
        width: 85%;
        left: 7.5%;
    }

    /* Navbar Section */
    .navbar {
        flex-direction: row;
    }

    .navbar .cta-btn {
        display: block;
    }    

    /* Hero Section */
    .hero .hero-content {
        text-align: left;
    }

    .hero .hero-content .cta-btn {
        justify-content: left;
    }

    /* About Section */
    #about .about-content {
        width: 80%;
        left: 10%;
        margin-top: 0;
        border-radius: 32px;
        overflow: hidden;
    }
    
    #about .about-content .pro-pic {
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        transform: translate(0);
        border-radius: 0%;
        border: 1px solid var(--bg-secondary);
    }
    
    #about .about-content .write-up {
        position: relative;
        width: 50%;
        left: 0;
        padding: 1rem 1rem 2rem;
    }    

    /* Skills Section */
    .skill, .inactive-skill {
        min-width: 10%;
        padding-top: 10%;
    }

    /* Projects Section */
    .project-card {
        min-width: 60%;
        padding-top: calc(40% / 2);
    }

    /* Contact Section */
    #contact {
        width: 80%;
        left: 10%;
    }

    .contact-links a {
        flex-basis: calc(25% - 15%);
    }
}

